/* Google-font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* variables */
:root{
    --header-height:2rem;
    --font-semi:600;
    }
/* colors */
:root{
    --first-color:#a1039b;
    --second-color:#7708ae;
}
/* font-style */
:root{
    --body-font:Poppins;    
}
@media screen and (min-width:768px){
    :root{        
        --normal-font-size:1rem;
        --medium-font-size: 2rem;
        --bold-font-size: 3.5rem;
    }
}
/* margins */
:root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}
/* z-index */
:root{
--z-back:-10;
--z-normal:1;
--z-tooltip:10;
--z-fixed:100;
}
/* Base */
*,
::before,
::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font);
    color: var(--second-color);
    background-color: rgb(254, 253, 250);
}
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* header-section */
/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style the header */
  .header {
    margin-top: -35px;  
    background-color:var(--second-color);
    padding: 25px; 
    /* position: fixed;   */
    width: 100%; 
    z-index: 999;
  }
  
  /* Style the navigation bar */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
  }
  
  /* Style the logo */
  .nav_logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }  
  
  .nav_list {
    list-style: none;
    display: flex;
    font-weight: bold;
  }
  
  .nav_item {
    margin-right: 100px;
    font-size: 20px;      
  }
  
  .nav_link {
    text-decoration: none;
    color: #000;
  }  
  .nav_link:hover{
    color:#fff;
    position: relative;
  }
  .nav_link:hover::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.15rem;
    left:0;
    top: 2rem;
    background-color: #000;
    transition:3s;
  }
  
  /* Style the navigation toggle button */
  
.nav_toggle {
    display: none; /* Hide the div by default */
    position: fixed;    
    right: 10px;
    transform: translateY(-50%);
    z-index: 9999;
}
  
  
  /* Responsive styles */
  
  @media screen and (max-width: 1000px) {
    .nav_menu {
      display: block;
      position: fixed;
      top:85px;
      right:-100%;
      width: 60%;
      height:100%;
      background:#6522ea;
      padding: 30px;
      border-radius: 30px;
      transition: 1.5s;
      text-align: center;
      z-index: 999;
    }
    .nav_toggle {
        display: block; /* Display the div for smaller screens */
        font-size: 40px;
        cursor: pointer;
        margin-top: 50px;
        color:black;
    }
  
    .nav_list {
      flex-direction: column;           
    }
  
    .nav_item {
      margin-bottom: 10px;      
      text-align: center;
      line-height: 80px; 
      justify-content: center ;
      padding-left: 80px;     
    }

    .nav_link{
        color:#fff; 
        text-align: center;           
    }
    .nav_link:hover{
        color:#000;
        position: relative;
    }
    .nav_link:hover::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 0.15rem;
        left:0;
        top: 2rem;
        background-color: #000;
        transition:5s;
    }

    .nav_toggle{
        margin-right: 10%;
        font-size: 30px;
    }
}
.active{
    right:0;
}

.home_img{
    width:500px;
    height:300px;
}
.home{
    display:flex;    
    justify-content: space-between;
    align-items:center;
    padding:4% 10%;      
}
.home_social{
    display: block;
    position: relative;
    
}
.home_data{
    align-self: center;    
}
.home_title{    
    font-weight:bold;
    font-size: 40px;
    letter-spacing:.7px;
    text-align:left;
    line-height: 55px;  
}
.home_title_color{
    color:var(--first-color);
    font-family:'Roboto', sans-serif;
}
.btn{
    padding: 5px 8px;
    border-radius:8px ;
    text-align: center;
    box-shadow:1px 1px 0.5px #000;
    background-color: rgb(64,8,170);
    background: linear-gradient(90deg, rgba(64,8,170,1) 0%, rgba(147,97,239,1) 100%);
    font-size: 25px;    
}
.btn:hover{
    cursor:pointer;
    transform: scale(.9,.9);
    opacity: 0.8;    
}
.home_social{
    position: absolute;
    display: block;
    margin-left: 35%;
    margin-top: 80px;
}
.home_social_icon{
    font-size: 30px;
    display: block;
    padding: 15px;    
}
.home_social_icon:hover{
    color:var(--second-color)
}

/* ABOUT SECTION */
.about_img{    
    width:100%;
    height:100%;     
}
.about_sec{
    margin-top: 180px;    
}
h1{
    text-align: center;
    margin-right: 10px;
}
.about_container{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 4% 7%;
    row-gap: 3rem;
    margin-top: 20px;
}
.about_me{
    margin-left: 70px; 
    margin-top: 10px;
}
.about_para p{
    margin-top: 10px;
    font-size: 20px; 
    color: var(--second-color);   
}
@media screen and (max-width: 1000px){
    .about_container {
        display: block;
    }
    .about_me{
        margin-left: 10px;
        margin-top: 120px;
    }
    .home{
        display:block;
        
    }
    .home_img{
        margin-top: 80px;
        width:100%;
    }
}

/* SKILLS SECTION */

.skills_heading{
    margin-top: 80px;
}
.skills_div{
    text-align: center;
    margin-top: 20px;
}
.skill_subtitle{
    margin-top: 20px;
}
.skills_container{
    row-gap: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 20px;
}
.skill_subtitle{
    margin-bottom: 20px;
    color:#000;
}
.skills_text{
    margin-bottom: 30px;
    padding-left: 40px;
}
.skills_data{
    margin-right: 10%; 
    margin-left: 5%; 
    display: flex;
    height: 50px;
    font-size: 1.5rem;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: 0.5rem;  
    border:1px solid rgb(157, 154, 154);
}
.skills_icon{
    font-size: 30px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 8px;
}
.skills_name{
    display: flex;
    align-items: center;
}

.skill_bar{
    position: absolute;
    left:0;
    bottom: 0;
    height:0.25rem;
    border-radius: 0.5rem;
    z-index: var(--z-back);
    background-color: var(--first-color);
}
.skills_html{
    width:90%;
}
.skills_css{
    width:80%;
}
.skills_js{
    width:70%;
}
.skills_sql{
    width: 80%;
}
.skills_py{
    width:90%;
}
.skill_img{
    width:600px;
    margin-top: 40px;
}
@media screen and (max-width: 1000px){
    .skills_container{
        display: block;
    }
    .skill_img{
        width:90%; 
        margin-left: 40px;
        margin-top: 70px;
}
}

/* EDUCATION AND EXPERIENCE*/
.main_container{
    align-items: center;
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
}
.div_main{
    display: flex;
    justify-content: space-between;
    padding:60px;
    column-gap: 30px;
}
.e_content{
    padding: 0 30px;
    border-left:solid#464242 2px;
    line-height: 30px;
}

.edu_title{
    color:#0d0a0a;
    padding-left:35px;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    margin-bottom: 20px;
}
.exp_title{
    color:#0d0a0a;
    padding-left:35px;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    margin-bottom: 20px;
}
.box{
    position: relative;
    padding: 20px;
    border:1px solid rgb(237, 235, 238);
    background-color: #eab9dc;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    border-radius: 10px;    
}
.box:hover{
    border: #000;
    background-color: #6522ea;
    transition: 1s;
    color: white;    
}
.box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top:0;
    right:calc(100% + 22px);
    background-color: #530482;
    border: 2px solid white;
}
@media screen and (max-width: 1000px) {
    .div_main{
        flex-direction: column!important;
        display: block;              
    }
    
}

/* MY PROJECTS */
.pro_container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
    padding: 50px;
}
.pro_box img{
    width: 100%;
    height: 200px;
    transition: 0.5s ease;
}
.pro_box:hover img{
    transform: scale(1.1);
}
.pro_box{
    position: relative;
    border-radius: 2rem;    
    overflow: hidden;    
    box-shadow: 0 0 1rem #000;
    overflow: hidden;
}
.pro_layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(110, 5, 151, 0.73)); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}
.pro_layer a{
    display: inline-flex;
    justify-content: center;
    width: 2rem;
    align-items: center;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
}
.pro_layer a i{
    font-size: 1rem;
    color: #0d0a0a;

}

.pro_box:hover .pro_layer{
    transform: translateY(0);
}
.pro_layer h4, p{
    color: white;
}
.pro_layer h4{
    font-size: 25px;
}
@media screen and (max-width: 1000px) {
    .pro_container {
        flex-direction: column !important;
        display: block;
        padding-bottom: 10rem;
    }
    .pro_box {
        margin-top: 40px;
        margin-bottom: 4rem;
        /* Add margin-bottom to create the gap */
        width: 100%;
    }
}


/* CONTACT SECTION */
.contact_section{
    margin-top: 50px;
}
.contact_section h2{
    text-align: center;
}
.contact_container{
    margin-top: 30px; 
    border: 2px solid rgb(128, 125, 125); 
    box-shadow: 2px 2px 1px rgb(74, 74, 74);
    padding: 40px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 30px;        
}
.contact-form{
    align-items: center;        
}
.control_input{
    width: 90%;
    margin-left: 5%; 
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2.5px solid black;    
}
.control_button{
    margin-left: 37%; 
    align-items: center; 
}

@media screen and (max-width: 1000px) {
    .contact_container{
        width: 400px;
        margin-left: 60px;
        transition: 1s;       
        
    }
    
}
/* FOOTER */
.footer{
    background-color:var(--second-color);
    color: white;    
    bottom: 0;
    margin-top: 50px;
    height: 100px;
    width:100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 30px;    
}
.footer_social{
    display: flex;
    justify-content: space-between;
}
.footer_icon{
    cursor: pointer;
    font-size: 35px;
    padding-left: 25px;
    color: #000;    
}
.footer_icon:hover{
    color: white;
    transition: 1.5s;
}
@media screen and (max-width: 650px) {
    .footer{
        display: block;
        height: 140px;
        text-align: center;
        bottom: 0px;
    }
    .footer_social{
        display: block;
    }
    .footer_icon{
        padding-left: 10px;
        font-size: 25px;
    }
}